.container {
  padding: 1rem;
  border-radius: var(--radius-medium);
  background-color: rgb(var(--theme-bg));
  box-shadow: 0 0 0.5rem 0.05rem rgba(0, 0, 0, 0.05);
}

.container-wrapper {
  gap: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.container-wrapper > .container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container-wrapper > .container > :last-child {
  flex-grow: 1;
}


/* Laptops & Desktops */
@media (min-width: 1024px) {
  .container-wrapper {
    overflow: hidden;
  }

  .container-wrapper > .container {
    overflow: auto;
  }
}
