.container {
  padding: 1rem;
  border-radius: var(--radius-medium);
  background-color: rgb(var(--theme-bg));
  box-shadow: var(--container-box-shadow);
}

.container-wrapper {
  gap: 1rem;
  display: grid;
}

.container-wrapper > .container {
  flex: 1;
  display: flex;
  flex-direction: column;
}


/* Laptops & Desktops */
@media (min-width: 1024px) {
  .container-wrapper {
    overflow: hidden;
    grid-template-rows: 1fr 1fr;
  }

  .container-wrapper > .container {
    overflow: auto;
  }
}

/* Up to: Tablets (landscape) */
@media (max-width: 1023px) {
  .container-wrapper {
    display: flex;
    flex-direction: column;
  }
}
