/* Content container */

.app__content {
  flex-grow: 1;
  overflow: hidden;
  background-color: rgb(var(--app-bg));
}

.app__content > div {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}


/* Content Header */

@keyframes header-box-shadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0.2rem 0.2rem -0.1rem rgb(var(--divider-color));
  }
}

.content__header {
  display: flex;
  flex-direction: column;
}
.content__header.elevated {
  background-color: rgb(var(--app-bg));
  animation: 0.25s header-box-shadow forwards;
  z-index: var(--z-index-elevated-content-header);
}

.content__header-top {
  gap: 1rem;
  min-height: 4rem;
  padding: 0.8rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__header h2 {
  margin-top: -2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__header .options {
  gap: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__header .options > .button {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  color: rgb(var(--text-color));
  background-color: rgb(var(--button-bg-darker));
}

.content__header a {
  color: inherit;
  text-decoration: none;
}
.content__header span[class*="material-icons"] {
  font-size: 1.5rem;
}

.content__header .separation, .MuiInputBase-adornedEnd .separation {
  border: 1px solid rgb(var(--divider-color));
  background-color: rgb(var(--divider-color));
}

.container .content__header-top {
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  margin-top: -1rem;
}
.container .content__header-top h2 {
  color: rgb(var(--accent-color));
}

.container .content__header + hr {
  display: none;
}

.container .content__header__top .options {
  color: initial;
  align-items: center;
  justify-content: center;
}


/* Content Body */

.content__body {
  padding: 1rem;
  margin-top: -1rem;

  flex-grow: 1;
  overflow-y: auto;
}


/* Up to: Narrow Smartphones */
@media (max-width: 419px) {
  .content__header-top .dropdown__title {
    display: none;
  }
}

/* Up to: Smartphones */
@media (max-width: 479px) {
  .content__header .options {
    flex-direction: column;
  }

  #mobile-drawer + .app__content .content__body {
    display: flex;
    flex-direction: column;
  }
}

/* Up to: Small tablets */
@media (max-width: 767px) {
  #mobile-drawer + .app__content .content__body {
    /* Show content above mobile drawer swipe area (+ 1rem visual gap) */
    padding-bottom: calc(80px + 1rem) !important;
  }
}

@media (min-width: 1024px) {
  .content__body .container-wrapper {
    /* Fix box-shadows not showing properly in containers inside */
    margin: -1rem;
    padding: 1rem;
  }
}
