.prompt__wrapper {
  gap: 1.5rem;
  padding: 1.5rem;
  overflow: hidden auto;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.prompt__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;

  width: 80%;
  height: 80%;
  max-width: 40rem;
  max-height: 40rem;
  border-radius: var(--radius-medium);
  background-color: rgb(var(--theme-bg));
}

.prompt__container .flexRow {
  gap: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.prompt__container .flexRow.column {
  flex-direction: column;
}
.prompt__container .flexRow:not(.column) > * {
  width: 50%;
}
.prompt__container .flexRow > .radioRow > div {
  gap: 1rem;
  flex-direction: row;
}
.prompt__container .flexRow > .radioRow > legend {
  line-height: 1;
}

.prompt__title {
  width: 100%;
  margin: 0 auto;
}

.prompt__title > h1 {
  text-align: center;
  margin: 0 auto;
  color: rgba(var(--accent-color), 204);

  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.prompt__title > h1 ~ * {
  text-align: center;
  margin-top: 0.75rem;
}
.prompt__title > h1 ~ * .singleSelect {
  max-width: 50%;
}

.prompt__content {
  width: 100%;
  gap: 1.25rem;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prompt__actions {
  padding: 1.5rem;
  box-shadow: 0 -0.2rem 0.2rem -0.1rem rgb(var(--divider-color));
}


/* --- Pop-up prompt animation --- */

@keyframes backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes prompt {
  from {
    transform: translateY(3rem);
  }
  to {
    transform: translateY(0);
  }
}

.prompt__backdrop.animated {
  animation: backdrop 0.3s;
}
.prompt__container.animated {
  animation: prompt 0.3s;
}


/* --- Pop-up prompt backdrop --- */

.prompt__backdrop {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;

  inset: 0;
  z-index: var(--z-index-prompt);
  background-color: rgba(0, 0, 0, 0.5);
}
