.tools-view .content__body {
  padding: 0;
}

.tools-tabs + hr {
  margin-top: -1px;
}

.tools-tabs .MuiTabScrollButton-root.Mui-disabled {
  opacity: 0.5;
}

.tools-select {
  display: none;
  padding: 1rem 0;
  justify-content: center;  
}
.tools-select .dropdown__header {
  padding-top: 0.33rem;
  padding-bottom: 0.33rem;
}

.tools-tab {
  gap: 1rem;
  flex-grow: 0;
  padding: 1rem;
  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

/* Tool container */
.tools-tab .tool {
  cursor: pointer;
  text-decoration: none;

  transition: 0.125s;
  border-radius: var(--radius-small);
  background-color: rgb(var(--card-bg));
  box-shadow: 0 0.075rem 0.15rem rgba(0, 0, 0, 0.2);

  gap: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.tools-tab .tool:hover, .tools-tab .tool:focus {
  transform: scale(1.01);
  background-color: rgba(var(--accent-color), 0.075);
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.2);
}

/* Tool content - left side */
.tool__header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 5rem;
  width: calc(20% - 0.5rem);
}

/* Tool content - right side */
.tool__content {
  gap: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: calc(80% - 0.5rem);
}

.tool h2 {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(var(--accent-color));
}
.tool p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  flex-grow: 1;
  overflow: hidden;
  transition: 0.125s;
  text-overflow: ellipsis;
  color: rgb(var(--text-color));
}

.tool:hover h2, .tool:focus h2 {
  text-decoration: underline;
}
.tool:hover p, .tool:focus p {
  color: rgb(var(--accent-color));
}


/* Tab slide-in animations */
@keyframes tab-hidden {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tab-slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes tab-slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


/* Up to: Smartphones */
@media (max-width: 479px) {
  .tools-tab {
    display: flex;
    flex-direction: column;
  }
}

/* Up to: Small tablets */
@media (max-width: 767px) {
  .tools-select {
    display: flex;
  }

  .tools-tabs {
    height: 0;
    visibility: hidden;
  }
  .tools-tabs button, .tools-tabs .MuiTabs-indicator {
    transition: 0s !important;
  }
}
