.tools-container {
  padding: 0;
  height: 100%;
}

.tools-tabs .MuiTabScrollButton-root.Mui-disabled {
  opacity: 0.5;
}

.tools-select {
  display: none;
  padding: 1rem 0;
  justify-content: center;  
}
.tools-select .dropdown__header {
  padding-top: 0.33rem;
  padding-bottom: 0.33rem;
}

.tools-tab {
  gap: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

/* Tool container */
.tool {
  cursor: pointer;
  transition: 0.25s;

  border-radius: var(--radius-small);
  background-color: rgb(var(--button-bg));
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.2);

  gap: 1rem;
  display: flex;
  padding: 1rem;
}
.tool:hover, .tool:focus {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* Tool content - left side */
.tool > .tool__header {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Tool content - right side */
.tool > .tool__content {
  flex-grow: 1;
}
.tool > .tool__content * {
  text-decoration: none;
}


/* Tablets & smartphones */
@media (max-width: 768px) {
  .tools-tabs {
    display: none;
  }
  .tools-select {
    display: flex;
  }
}
