/* --- Categories grid --- */

.admin-view .admin-links {
  gap: 1rem;
  flex-grow: 0;
  display: grid;
  overflow-y: auto;
  animation: 0.05s tab-reveal forwards;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}


/* --- Category container --- */

.admin-link {
  cursor: pointer;
  text-decoration: none;
}
.admin-link:active {
  color: inherit;
}

.admin-link > button {
  transition: 0.125s;
  border-radius: var(--radius-medium);
  background-color: rgb(var(--theme-bg));
  box-shadow: var(--container-box-shadow);

  gap: 1rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.admin-link > button:hover, .admin-link > button:focus-visible {
  transform: scale(1.01);
  background-color: rgba(var(--accent-color), 0.05);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
}

/* Category content - left side */
.admin-link__header {
  display: flex;
  max-width: 5rem;
  flex-direction: column;
  justify-content: center;
}
.admin-link__header > span[class*="material-icons"] {
  opacity: 0.5;
  color: initial;
  font-size: 4rem;
  transition: 025s;
}

/* Category content - right side */
.admin-link__content {
  gap: 0.5rem;
  height: 100%;
  flex-grow: 1;
  display: flex;
  text-align: start;
  flex-direction: column;
}

.admin-link h2 {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(var(--accent-color));
}
.admin-link p {
  font-size: 1rem;
  min-height: 66px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  flex-grow: 1;
  overflow: hidden;
  transition: 0.125s;
  text-overflow: ellipsis;
  color: rgb(var(--text-color));
}

.admin-link > button:hover h2, .admin-link > button:focus-visible h2 {
  text-decoration: underline;
}
.admin-link > button:hover p, .admin-link > button:focus-visible p {
  color: rgb(var(--accent-color));
}


/* Up to: Smartphones */
@media (max-width: 479px) {
  .admin-links {
    display: flex;
    flex-direction: column;
  }
}


/* --- Plannings view --- */

.admin-plannings-view.planning-view .calendar-picker > .content__header {
  justify-content: flex-start;
}
