/* --- Single select --- */

.select {
  width: 100%;
  max-width: 100%;

  font-size: 1rem;
  font-weight: 600;
  transition: 0.25s;
  font-family: inherit;
  color: rgb(var(--accent-color));
}

.select > select:not(:disabled):hover {
  border: 1px solid rgba(var(--accent-color), 136) !important;
}
.select > select:not(:disabled):focus {
  box-shadow: 0 0 0 1px rgb(var(--accent-color));
  border: 1px solid rgba(var(--accent-color), 136) !important;
}

.select > select > option {
  color: initial;
}


/* --- Multi select (rmsc) --- */

/* Opening animation */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-0.6rem); }
  100% { opacity: 1; transform: translateY(0rem); }
}

.rmsc.multi-select {
  --rmsc-h: 2rem;
  --rmsc-bg: rgb(var(--select-bg));
  --rmsc-radius: var(--radius-small);
  --rmsc-p: 0.33rem 0.33rem 0.33rem 0.66rem;
  --rmsc-main: rgba(var(--accent-color), 88);
}

.rmsc.multi-select * {
  transition: 0.25s, color 0s, opacity 0s;
}

/* Select input field */
.rmsc.multi-select .dropdown-heading {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  user-select: none;
  align-items: center;
}
.rmsc.multi-select .dropdown-heading-value {
  padding: var(--rmsc-p);
}

.rmsc__arrow {
  color: rgb(var(--divider-color));
}
.rmsc.multi-select button {
  background-color: transparent !important;
}


.rmsc.multi-select .dropdown-container:hover {
  border-color: rgb(var(--rmsc-main));
}
.rmsc.multi-select .dropdown-container[aria-expanded="true"] .rmsc__arrow {
  transform: rotateZ(180deg);
}

.rmsc.multi-select .dropdown-container[aria-disabled="true"], select:disabled {
  opacity: 0.7;
  border: 1px solid rgb(var(--divider-color));
}
.rmsc.multi-select .dropdown-container[aria-disabled="true"] *, select:disabled {
  cursor: no-drop;
}
.rmsc.multi-select .dropdown-container[aria-disabled="true"]:focus {
  box-shadow: none;
}

/* Select dropdown content */
.rmsc.multi-select .item-renderer {
  user-select: none;
  font-size: 0.75rem;
  
  display: flex;
  align-items: center;

  overflow-x: hidden;
  white-space: nowrap;
}
.rmsc.multi-select .item-renderer > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.rmsc.multi-select .dropdown-content {
  animation: fadeIn 0.25s;
}

.rmsc.multi-select .panel-content .options {
  max-height: 10rem;
}

.rmsc.multi-select .search input {
  padding: var(--rmsc-p);
}

.prompt__container .rmsc.multi-select .dropdown-content {
  z-index: var(--z-index-rmsc);
}
