/* Dropdown */
.dropdown {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* Trigger area */
div.dropdown__header {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: 0.25s;
  user-select: none;
  padding: 0 0.5rem;
  border-radius: var(--radius-small);
  background-color: rgb(var(--button-bg));
}

.dropdown__header > span {
  transition: 0.25s;
}
.dropdown__header > .dropdown__title {
  font-family: inherit;
  font-weight: 600;
  padding: 0 0.25rem 0 0.5rem;
}

.dropdown__header:hover > span {
  color: rgb(var(--accent-color));
}
.dropdown__content.open ~ .dropdown__header {
  color: rgb(var(--accent-color));
  background-color: rgba(var(--accent-color), 0.075);
}

/* Dropdown */
.dropdown__content {
  top: 100%;
  margin: 0;
  min-width: 100%;
  padding: 0.33rem;
  z-index: var(--z-index-dropdown);

  overflow: hidden;
  list-style: none;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;

  opacity: 0;
  cursor: default;
  transition: 0.25s;
  background-color: #fff;
  border-radius: var(--radius-medium);
  box-shadow: 0px 0px 0.8rem 0.2rem rgb(var(--divider-color));
}

/* Dropdown options list */
.dropdown__content > li {
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  display: inherit;
  transition: background-color 0.25s;
  border-radius: var(--radius-small);
  -webkit-tap-highlight-color: transparent;
}

.dropdown__content > li:hover {
  background-color: rgb(var(--button-bg));
}
.dropdown__content > li:hover > * {
  color: rgb(var(--accent-color));
}

.dropdown__content > li > * {
  text-decoration: none;
  color: rgb(var(--text-color));
  background-color: transparent !important;

  display: flex;
  justify-content: flex-start;

  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
}

/* Fix delayed transition on icons */
.dropdown__content button span[class*="material-icons"] {
  transition: 0s;
  margin-left: 0.5rem;
}


/* Opening animation */
.dropdown__content.open {
  opacity: 1;
  visibility: inherit;
  transform: translateY(6px);
}
.dropdown__content.open ~ .dropdown__header > .dropdown__arrow {
  transform: rotateZ(180deg);
}
