.loader {
  inset: 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;

  display: grid;
  place-items: center;
}

.loader.full-size {
  position: absolute;
}

.loader.full-screen {
  /* inset: 0; */
  position: fixed;
  background-color: rgb(var(--app-bg));
}

.loader.click-through {
  pointer-events: none;
}

.loader span {
  color: rgb(var(--accent-color));
}
