.drawer-root {
  display: flex;
}

/* Drawer links */
.drawer a {
  color: unset;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* Drawer items */
.drawer .drawer__item {
  min-height: 3rem;
  padding: 0 1.25rem;
  text-decoration: none !important;
}

.drawer .drawer__item span[class*="material-icons"] {
  transition: 0.25s;
}

.drawer__item:hover > *,
.drawer__item:focus-visible > *,
.drawer .selected > .drawer__item > * {
  color: rgb(var(--accent-color));
}
.drawer .selected > .drawer__item {
  background-color: rgba(var(--accent-color), 0.075);
}

/* Drawer item elements */
.drawer__icon {
  color: rgba(0, 0, 0, 0.66);

  min-width: 0;
  width: fit-content;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.drawer__text {
  color: unset;
  transition: 0.25s;

  min-width: 0;
  margin-left: 1.25rem;
}
.drawer__text * {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* --- Desktop --- */

#root .drawer .MuiDrawer-root > .MuiPaper-root {
  z-index: var(--z-index-desktop-drawer);
}

.drawer__expand-btn .drawer__icon {
  width: 100%;
  display: flex;
  flex-direction: column;
}


/* --- Mobile --- */

#mobile-drawer > .PrivateSwipeArea-root, #root ~ .MuiDrawer-root {
  z-index: var(--z-index-mobile-drawer);
}

.drawer-mobile__header {
  left: 0;
  right: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  
  visibility: visible;
  background-color: white;
  border-radius: 1rem 1rem 0 0;
}

.drawer-mobile__header > p {
  flex-grow: 1;
  padding: 0 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(var(--accent-color));

  display: grid;
  place-items: center;
}


/* Smartphones & Tablets */
#root ~ .MuiDrawer-root ul.drawer {
  overflow: auto;
  padding: 0 0 0.5rem;
  max-height: calc(100vh - 1rem - 80px);
}

#root ~ .MuiDrawer-root ul.drawer hr {
  margin: 0.5rem 0;
}

#root ~ .MuiDrawer-root > .MuiPaper-root {
  margin: 0 1rem;
  box-shadow: none;
  overflow: visible;
}

#root ~ .MuiDrawer-root > .MuiPaper-root::after {
  left: 0;
  top: -80px;
  width: 100%;
  display: block;
  position: absolute;
  height: calc(100% + 80px);
  /* Drawer height = 80px | change in MobileDrawer.tsx */

  content: '';
  pointer-events: none;
  background: transparent;
  border-radius: 1rem 1rem 0 0;
}

#root ~ .MuiDrawer-root > .MuiPaper-root::after,
#root ~ .MuiDrawer-root > .MuiPaper-root[style*="visibility: hidden"] > .drawer-mobile__header {
  box-shadow: 0 0 0.25rem 0.25rem #0002;
}
