/* ----- Global variables ----- */

:root {
  --opacity-font: 0.65;
  --opacity-disabled: 0.5;

  --radius-small: 0.33rem;
  --radius-medium: 0.66rem;
  --radius-large: 1rem;
  --radius-circle: 50%;
  --radius-infinite: 100%;

  --z-index-desktop-drawer: 1;
  --z-index-elevated-content-header: 2;
  --z-index-dropdown: 3;
  --z-index-rmsc: 4;
  --z-index-mui-tooltip: 5;
  --z-index-mobile-drawer: 6;
  --z-index-prompt: 7;
  --z-index-mui-dialog: 7;

  --text-color: 20, 20, 20;

  --theme-bg-blue: 143, 157, 247;
  --theme-bg-cyan: 138, 177, 237;
  --theme-bg-pink: 186, 143, 247;
  --theme-bg-prpl: 152, 141, 224;
  --theme-bg-gradient: rgb(var(--theme-bg-pink)), rgb(var(--theme-bg-prpl)), rgb(var(--theme-bg-blue)), rgb(var(--theme-bg-cyan));

  --app-bg: 248, 248, 248;
  --card-bg: 255, 255, 255;
  --button-bg: 240, 240, 240;
  --accent-color: 80, 60, 180;
  --divider-color: 224, 224, 224;
  --button-bg-darker: 234, 234, 234;
  --scrollbar-background: 100, 100, 100;
  --selected-drawer-item-bg-color: rgba(var(--accent-color), 0.075);

  --container-box-shadow: 0 0 0.5rem 0.05rem rgba(0, 0, 0, 0.05);
}

:root.dark {
  --text-color: 222, 222, 222;

  --theme-bg-blue: 102, 116, 212;
  --theme-bg-cyan: 90, 134, 200;
  --theme-bg-pink: 134, 94, 194;
  --theme-bg-prpl: 112, 100, 190;
  --theme-bg-gradient: rgba(var(--theme-bg-pink), 0.66), rgba(var(--theme-bg-prpl), 0.66), rgba(var(--theme-bg-blue), 0.66), rgba(var(--theme-bg-cyan), 0.66);

  --app-bg: 20, 20, 20;
  --card-bg: 40, 40, 40;
  --button-bg: 50, 50, 50;
  --divider-color: 80, 80, 80;
  --accent-color: 150, 130, 250;
  --button-bg-darker: 60, 60, 60;
  --scrollbar-background: 200, 200, 200;
  --selected-drawer-item-bg-color: rgba(var(--accent-color), 0.15);

  --container-box-shadow: 0 0 0.5rem 0.05rem rgba(0, 0, 0, 0.05);
}


/* ----- Global changes ----- */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-display: fallback;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body, button {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}


/* ----- Custom scrollbar design ----- */

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  /*
    The thumb should be at least a certain size
    if there's a lot of content to scroll through
  */
  min-width: 2rem;
  min-height: 2rem;

  /* Design */
  background-clip: padding-box;
  border: 0.25rem solid transparent;
  border-radius: var(--radius-large);
  background-color: rgba(var(--scrollbar-background), 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--scrollbar-background), 0.75);
}


/* ----- Global custom CSS ----- */

/* --- Layout --- */

.app {
  display: flex;
  overflow: hidden;

  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.flex {
  gap: 1rem;
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-align {
  align-items: center;
}
.flex-grow > * {
  flex-grow: 1;
}

.checkbox {
  display: flex;
  align-items: center;

  margin: 0 1rem;
  cursor: pointer;
}

.checkbox * {
  cursor: pointer;
  user-select: none;
  padding: 0 0.33rem;
  accent-color: rgb(var(--accent-color));
}

.checkbox > input:disabled + label {
  opacity: 0.75;
}

p,
h1, h2, h3, h4, h5, h6,
span[class*="material-icons"] {
  color: rgb(var(--text-color));
}

h2 {
  font-size: 1.5rem;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* --- Links --- */

:root.link-bold a *:not([class*="material-icons"]),
:root.link-bold_underline a *:not([class*="material-icons"]) {
  font-weight: bold;
}

:root.link-underline a *:not([class*="material-icons"]),
:root.link-bold_underline a *:not([class*="material-icons"]) {
  text-decoration: underline;
}


/* --- Buttons --- */

button {
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 0.4rem 0.8rem;
}

.button,
.button span[class*="material-icons"] {
  transition: 0.25s;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus-visible,
.button:not(:disabled):hover span[class*="material-icons"],
.button:not(:disabled):focus-visible span[class*="material-icons"] {
  color: rgb(var(--accent-color)) !important;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button > .MuiButton-label > .MuiButton-startIcon > [class*="material-icons"] {
  font-size: 1.5rem;
}


/* --- Top left logo --- */

.branding {
  padding: 1rem;
  max-width: 33%;
  user-select: none;

  gap: 1rem;
  display: flex;
  align-items: center;
}

.branding > img {
  width: 4rem;
  height: 4rem;
}
.branding > span {
  font-size: 1rem;
  font-weight: 600;
}


/* --- Tab slide-in animations --- */

@keyframes tab-reveal {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes tab-slide-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes tab-slide-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


/* --- React select component - Single select --- */

@keyframes react-select-menu {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(-2rem);
  }
  70% {
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 1;
  }
}

body .react-select-component__control {
  transition: 0.25s;
  border-width: 2px;
  border-radius: var(--radius-small);
}
body .react-select-component__control:hover {
  border-color: rgba(var(--accent-color), 0.5);
}
body .react-select-component__control--is-focused {
  box-shadow: none;
  border-color: rgb(var(--accent-color)) !important;
}
body .react-select-component__control:not(.react-select-component__control--is-disabled) {
  background-color: transparent;
}
body .react-select-component__single-value--is-disabled {
  color: hsl(0, 0%, 50%);
}

body .react-select-component__value-container {
  padding-left: 10px;
}

body .react-select-component__menu {
  animation: 0.25s cubic-bezier(0.4, 0, 0.2, 1) react-select-menu;
}
body .react-select-component__menu > * {
  max-height: 200px;
}

body .react-select-component__option:hover,
body .react-select-component__option:active,
body .react-select-component__option--is-focused {
  background-color: rgba(var(--accent-color), 0.2);
}

body .react-select-component__option--is-selected,
body .react-select-component__option--is-selected:hover {
  background-color: rgba(var(--accent-color), 0.8);
}


/* --- Material-UI custom styling - "body" for higher specificity CSS detection --- */

/* Mui Select header */
body .select > .MuiInputBase-input {
  transition: 0.25s;
}
body .select:hover > .MuiInputBase-input {
  color: rgb(var(--accent-color));
}
body .select.Mui-focused {
  color: rgb(var(--accent-color));
  background-color: rgba(var(--accent-color), 0.05);
}

/* Mui Select list item */
body .MuiInputLabel-root.Mui-focused,
body .MuiCheckbox-colorPrimary.Mui-checked,
body .MuiOutlinedInput-root.Mui-focused .material-icons-outlined {
  color: rgb(var(--accent-color)) !important;
}
body div[role="tooltip"] .MuiInputLabel-root.Mui-focused {
  color: rgb(var(--accent-color)) !important;
}

/* Mui Text inputs */
body button.MuiButton-root {
  min-width: unset;
  padding: 0.4rem 0.8rem;
}
body button.MuiButton-root.Mui-disabled {
  opacity: 0.5;
}
body button.MuiButton-root.Mui-disabled [class*="material-icons"] {
  color: initial;
}

/* Make primary buttons text bigger */
body button.MuiButton-root.btnPrimary > .MuiButton-label {
  transform: scale(1.1);
}

body button.MuiButton-root.btnDismiss {
  color: #f22;
  background-color: transparent !important;
}

body button.MuiButton-root.btnSecondary {
  color: black;
  border: 1px solid black;
  background-color: transparent !important;
}

/* body .MuiInputAdornment-root button[class*="MuiButton"] {
  padding: 0;
  color: unset;
  transform: unset;
  background-color: transparent;
} */

body button .MuiButton-startIcon.MuiButton-iconSizeSmall {
  margin-left: 0;
}


/* --- DataGrid tables --- */

@media (min-width: 768px) {
  /* Make Grid pop-ups at the top-right */
  div[role="tooltip"].MuiDataGrid-panel {
    top: 130px !important;
    left: unset !important;
    right: 26px !important;
    transform: none !important;
    z-index: var(--z-index-mui-tooltip) !important;
  }
}

body .MuiDataGrid-toolbarContainer .MuiButton-label { font-family: inherit; }
body .MuiDataGrid-toolbarContainer .MuiButton-textSizeSmall { font-size: inherit; }
body .MuiDataGrid-toolbarContainer .MuiButton-iconSizeSmall .MuiSvgIcon-root { font-size: 1.25rem; }

body .MuiDataGrid-root {
  font-weight: unset;
  font-family: unset;
  line-height: unset;
  letter-spacing: unset;
  border-radius: var(--radius-medium);
}
body .MuiDataGrid-root .content__header {
  margin: 0.66rem;
  border-radius: var(--radius-small);
}
body .MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  font-weight: 600;
}

body .MuiDataGrid-root .MuiDataGrid-cell:focus-within,
body .MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within,
body .MuiDataGrid-root .MuiDataGrid-cell:focus:not(:focus-visible),
body .MuiDataGrid-root .MuiDataGrid-columnHeader:focus:not(:focus-visible) {
  outline: none;
}


/* --- React switch --- */

.react-switch-handle {
  box-shadow: none !important;
}
.react-switch-handle > div {
  display: flex;
}


/* --- Miscellaneous --- */

span[class*="material-icons"]:hover,
span[class*="material-icons"]:active,
span[class*="material-icons"]:focus-visible {
  color: rgb(var(--accent-color));
}


/* --- Media queries --- */

/* Up to: Smartphones */
@media (max-width: 479px) {
}

/* Up to: Tablets (portrait) */
@media (max-width: 639px) {
}

/* Up to: Small tablets */
@media (max-width: 767px) {
  /* We might need to not do that */
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

/* Up to: Tablets (landscape) */
@media (max-width: 1023px) {
  .MuiPickerStaticWrapper-root .PrivatePickersToolbar-root {
    display: flex !important;
  }
}

/* Laptops & Desktops */
@media (min-width: 1024px) {
}

/* ----- End Global Custom CSS ----- */
