.profile-view .content__body {
  gap: 1rem;
  display: flex;
}

.profile-view .content__body > * {
  flex: 1;
}


/* --- Profile --- */

.profile-view .profile {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.profile-view .profile > :last-child {
  flex-grow: 1;
}

.profile-view .profile ul {
  padding: 0;
  list-style: none;
}

.profile-view .profile li {
  gap: 0.25rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
}
.profile-view .profile li:not(:last-child) {
  margin-bottom: 0.75rem;
}
.profile-view .profile li > span {
  flex-grow: 1;
  font-weight: bold;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* Main info */
.profile-view .profile .content__header + hr {
  margin-bottom: 1rem;
}

.profile-view .profile__main-info img {
  width: 6rem;
  height: 6rem;
  padding: 0.66rem;

  border-radius: var(--radius-small);
  background-color: rgb(var(--button-bg));
}


/* --- Settings & Tasks --- */

.profile-view .settings-tasks {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.profile-view .settings-tasks > * {
  flex: 1;
}


/* Up to: Smartphones */
@media (max-width: 480px) {
  /* .profile-view .content__body {
    padding: 0;
  }
  .profile-view .content__body .container {
    border: none;
  } */

  .profile-view .profile__main-info .content__header {
    padding-top: 1rem;
    padding-left: 4rem;
  }
  .profile-view .profile__main-info .content__header + hr {
    margin-left: 4rem;
  }
  .profile-view .profile__main-info ul {
    margin: 1rem 0 0 -4rem;
  }

  .profile-view .profile__main-info img {
    width: 3rem;
    height: 3rem;
    padding: 0.33rem;
    margin-top: -3rem;
  }
}

/* Up to: Tablets (landscape) */
@media (max-width: 1024px) {
  .profile-view .content__body {
    flex-grow: unset;
    flex-direction: column;
  }
}
