.profile-view .content__body {
  gap: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-template: auto / 1fr 1fr;
}


/* --- Profile --- */

.profile-view .profile {
  flex: 1;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.profile-view .profile > :last-child {
  flex-grow: 1;
}

.profile-view .profile ul {
  padding: 0;
  list-style: none;
}

.profile-view .profile li {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
}
.profile-view .profile li:not(:last-child) {
  margin-bottom: 0.75rem;
}
.profile-view .profile li > p:last-child {
  flex-grow: 1;
  font-weight: bold;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Main info */
.profile-view .profile .content__header + hr {
  margin-bottom: 1rem;
}

.profile-view .profile__main-info img {
  width: 6rem;
  height: 6rem;
  padding: 0.66rem;

  border-radius: var(--radius-small);
  background-color: rgb(var(--button-bg-darker));
}


/* --- Useful links --- */

.profile-view .links ul {
  padding: 0;
  list-style: inside;
}

.profile-view .links li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.profile-view .links li > a {
  font-weight: 500;
  text-decoration: none;
  color: rgb(var(--text-color));
}
.profile-view .links li > a:hover,
.profile-view .links li > a:focus-visible {
  text-decoration: underline;
  color: rgb(var(--accent-color));
}

.dark .profile-view .links li::marker {
  color: rgb(var(--text-color));
}


#profile-link-type-bold {
  font-weight: bold;
}
#profile-link-type-underline {
  text-decoration: underline;
}
#profile-link-type-bold_underline {
  font-weight: bold;
  text-decoration: underline;
}


/* Up to: Smartphones */
@media (max-width: 479px) {
  .profile-view .profile__main-info .content__header {
    padding-left: 4rem;
  }
  .profile-view .profile__main-info .content__header h2 {
    padding-top: 1rem;
  }
  .profile-view .profile__main-info .content__header + hr {
    margin-left: 4rem;
  }
  .profile-view .profile__main-info ul {
    margin: 1rem 0 0 -4rem;
  }

  .profile-view .profile__main-info img {
    width: 3rem;
    height: 3rem;
    padding: 0.33rem;
    margin-top: -3rem;
  }
}

/* Up to: Tablets (landscape) */
@media (max-width: 1023px) {
  .profile-view .content__body {
    flex-grow: unset;
    grid-auto-flow: row;
    grid-template: 1fr 1fr / auto;
  }
}
