button.login-btn {
  font-size: 1.2rem;
}

button.login-btn > span {
  gap: 0.75rem;
  display: flex;
  align-items: center;
}

button.login-btn img {
  width: 1.5rem;
  height: 1.5rem;
}


button.logout-btn {
  border-radius: var(--radius-medium);
  background-color: rgb(var(--button-bg));
}


/* Up to: Narrow smartphones */
@media (max-width: 419px) {
  .profile-view .content__header .dropdown__content li span[class*="material-icons"] {
    display: none;
  }
}
