.calendar-view .content__body {
  gap: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.calendar-view .content__body > * {
  flex: 1;
}


/* Up to: Tablets (landscape) */
@media (max-width: 1024px) {
  .calendar-view .content__body {
    flex-grow: unset;
    flex-direction: column;
  }
}
