.calendar-view .content__body {
  gap: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-template: auto / auto 1fr;
}

.calendar-view .content__body > * {
  flex: 1;
}

.calendar-view .container.picker.hide > .content__header ~ .MuiPickerStaticWrapper-root {
  display: none;
  justify-content: center;
}

.calendar-view .container:first-child {
  padding-bottom: 0;
}
.calendar-view .MuiPickerStaticWrapper-root {
  margin-bottom: 1rem;
}

#hide-calendar-btn {
  display: none;
}


/* Up to: Tablets (landscape) */
@media (max-width: 1024px) {
  .calendar-view .content__body {
    flex-grow: unset;
    grid-auto-flow: row;
    grid-template: auto 1fr / auto;
  }
  #hide-calendar-btn {
    display: flex;
  }
}

@media (min-width: 1025px) {
  .calendar-view .MuiCalendarPicker-root {
    min-width: 288px;
  }
}
