.summary-view .content__body {
  gap: 1rem;
  display: flex;
  align-items: flex-start;
}

.summary-view .content__body > * {
  flex-grow: 1;
  flex-basis: 0;
}

/* ECTS container */
.summary-ects {
  /* Workaround for ChartJS not resizing down */
  width: 99%;
  margin: 0 auto;
}


/* Up to: Small tablets */
@media (max-width: 768px) {
  .summary-view .content__body {
    flex-direction: column;
  }

  .summary-view .content__body > * {
    width: 100%;
    flex-grow: 0;
  }
}
