.summary-view {
  /* Workaround for ChartJS not resizing down --- finding a better fix is needed */
  width: 99%;
}

.summary-view .content__body {
  gap: 1rem;
  display: flex;
  align-items: flex-start;
}

.summary-view .content__body > * {
  flex-grow: 1;
  flex-basis: 0;
}


/* Smartphones & Tablets */
@media (max-width: 768px) {
  .summary-view .content__body {
    flex-direction: column;
  }

  .summary-view .content__body > * {
    width: 100%;
    flex-grow: 0;
  }
}
