.auth {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.auth a {
  text-decoration: none;
  color: rgb(var(--accent-color));
}
.auth a:hover, .auth a:active, .auth a:focus-visible {
  outline: none;
  text-decoration: underline;
  color: rgb(var(--accent-color));
}


/* Form container */

.auth .prompt__backdrop {
	background: linear-gradient(-45deg, var(--theme-bg-gradient));
	animation: gradient 30s ease infinite;
	background-size: 300% 150%;
}


/* .auth .prompt__backdrop {
  opacity: 1;
  width: 200%;
  position: absolute;
  pointer-events: none;
  background: var(--artwork);
  transform: translateZ(0px);
  backface-visibility: hidden;
  animation: rotateBg 35s linear infinite;
  transition: opacity 0.25s cubic-bezier(0.42, 0, 0.58, 1);
  filter: brightness(200%) blur(180px) saturate(280%) contrast(2);
}
.auth .prompt__backdrop.a {
  top: 0;
  left: 0;
}
.auth .prompt__backdrop.b {
  right: 0;
  bottom: 0;
  animation-delay: 10s;
  animation-direction: reverse;
} */


/* Background gradient loop */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.auth .prompt__container {
  background-color: rgba(var(--theme-bg), 0.8);
}

.auth button.back__button {
  top: 0;
  left: 0;
  padding: 0;
  margin: 18px;
  position: absolute;
  
  transform: scale(1) !important;
  color: rgb(var(--accent-color));
  background-color: transparent !important;
}

.auth #logo {
  width: 10rem;
  height: 10rem;
  max-width: 80%;
  max-height: 80%;
}

.auth #contact {
  margin: 0 auto;
  font-weight: 500;
}


/* Supported browsers */
.unsupported .prompt__content {
  gap: 3rem;
}
.unsupported .prompt__content > * {
  width: 100%;
  padding: 0 4rem;
  text-align: center;
}

.browsers {
  gap: 3rem;
  padding: 3rem;

  display: flex;
  justify-content: center;
}

.browsers img {
  width: 6rem;
  height: 6rem;
  user-select: none;
  -webkit-user-drag: none;
}

.browsers > a {
  opacity: 0.9;
  outline: none;
  transition: 0.25s;

  width: 6rem;
  height: 6rem;

  color: inherit;
  position: relative;
  text-decoration: none;
}
.browsers > a:hover, .browsers > a:focus-visible {
  opacity: 1;
  transform: scale(1.05);
}

.browsers > a::after {
  display: flex;
  overflow-x: hidden;
  width: fit-content;
  white-space: nowrap;

  top: 111%;
  left: 50%;
  position: absolute;

  opacity: 0;
  transform-origin: top;
  transform: translateX(-50%);
  transition: transform 0s 0.25s, opacity 0.25s;

  padding: 0.4rem 0.8rem;
  color: rgb(var(--accent-color));
  border-radius: var(--radius-small);
  background-color: rgb(var(--divider-color));
  
  content: attr(aria-label);
}
.browsers > a:hover::after, 
.browsers > a:focus-visible::after {
  opacity: 1;
  transition: 0.25s;
}
